
section {
	background-color: Black;
	height: auto;
	width: auto;
	padding: 32px;
	padding-bottom: 0px;
	display: flex;
	flex-wrap: wrap;
}




.titletext {
	display: flex;
	justify-content: space-between;
}

a:visited {
	color: white;
}

a:hover {
	color:blue;
}


a {
	text-decoration: none;
}




p {
	font-family: sans-serif;
	margin: 0px;
	margin-bottom: 22px;
  color: white;
}


h1 {
	margin: 0px;
	font-family: sans-serif;
	color: white;
	font-size: 88PX;
  font-weight: bold;
}

body{
  height: 100%;
	margin: 0px;
	font-family: sans-serif;
	color: white;
	font-size: 32PX;
  font-weight: bold;
  height: 100%;
  background-color: black;
}
