
section {
	display: flex;
  background-color: black;
  height: 100%;
  width: auto;
  padding: 0px;
}

p {
  color: red;
}

body {
  margin: 0px;
}


div {
  height: 100px;
  width: 100px;
	border-bottom: 2px solid firebrick;
	border-right: 2px solid firebrick;
	padding: 0px;
}


img {
		width: 100px;
		height: 100px;
		top: 0px;
		left: 0px;
		position: absolute;

}
